@import "tailwindcss";

:root {
  --conectados-blue: #155DFC;
}

html {
  overflow-y: scroll;
}

.pattern-bg{
  background-color: #DFDBE5;
  background-image: url("./assets/bg.svg");
  background-size: 160px 160px;
  background-repeat: repeat;
}

.bg-pattern-color {
  background: var(--conectados-blue);
}

input:focus {
  outline: #0005 1px solid;
}